.login-container {
    position: relative;
    justify-content: center;
    width: auto;
    height: 300px;
    margin: 0 33%;
    top: 100px;
    min-width: 300px;
    background-color: rgb(182, 182, 182);
}

#login-text{
    display: inline;
    position: absolute;
    justify-content: center;
    text-align: left;
    font-size: 260%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 7% 4% 4% 4%;
}

.hr-logo {
    position: absolute;
    justify-content: center;
    text-align: right;
    right: 0%;
    top: 0;
    width: 70px;
    height: 70px;
    margin: 5%;
}

.login-text-input {
    position: absolute;
    justify-content: center;
    text-align: left;
    font-weight: bold;
    width: 87%;
    height: 40px;
    top: 115px;
    left: 18px;
    text-indent: 2%;
    color: rgb(200, 200, 200);
    border: black solid 1px;
}

#password {
    top: 165px;
}

.login-button {
    position: absolute;
    justify-content: center;
    background-color: red;
    border: solid darkred 1px;
    top: 225px;
    width: 42%;
    height: 30px;
    color: aliceblue;
    font-size: 75%;
    font-weight: bold;
    border-radius: 7px;
}

.login-button:hover {
    color: black;
    background-color: rgb(245, 37, 37);
}


#login-teacher {
    position: absolute;
    justify-content: center;
    left: 6%;
}

#login-student {
    position: absolute;
    justify-content: center;
    left: 50%;
}

#click-here {
    color: white;
}
.forgot-password {
    color: white;
    position: absolute;
    width: auto;
    top: 260px;
    left: 16%;
    right: 20%;
    text-align: center;
}
