<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Homepage</title>
</head>
<body>
	<h1>Veldu áfanga</h1>
	<h4>Allir áfangar </h4>
	<ul>
	{% for i in courses %}
	<li>{{ i }} - {{ i.ects }} ECTS - Undanfarar: {{ i.get_prerequisite }}</li>
	{% endfor %}
	<h4>Undanfarar </h4>
	<ul>
	{% for i in prereq %}
	<li>{{ i }} </li>
	{% endfor %}
</body>
</html>
