<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% load static %}
    <link rel="stylesheet"  href="{% static 'course-select.css' %}">
	<script src="{% static 'course-select.js' %}" defer></script>
	<title>course-selection</title>
</head>
<body>
	<div id="bg">
        <img src="{% static 'white_paper.jpg' %}" alt="backround_image">
    </div>

	<div class="navbar"> 
		<a href=".." id="logout">LOG OUT</a>
		<a href="hmm">ABOUT US</a>
	</div>

	<form action="" method="post">
		<input type="submit">

	</form>

	<div class="box" id="leftbox">  
	<h1>Calendar</h1>
	<h3>1. year</h3>
	<div class="year-container">
		<div class="semester" id="s1"></div>
		<div class="semester" id="s2"></div>
	</div>
	<h3>2. year</h3>
	<div class="year-container">
		<div class="semester" id="s3"></div>
		<div class="semester" id="s4"></div>
	</div>
	<h3>3. year</h3>
	<div class="year-container">
		<div class="semester" id="s5"></div>
		<div class="semester" id="s6"></div>
	</div>

	</div>
	<div class="box" id="middlebox">
		<h1>Courses Available</h1>
		<div class="bigContainer">
			{% for course in courses %}
				<div class="course {{course.id}}" draggable="true"> <p>{{ course.name }} ({{course.course_code}}) - {{ course.ects }} ECTS </p><button class="infoButton_open" onclick='openInfo("{{course.id}}")'>i</button> 
					<div class="infoPopup" id="{{course.id}}"><button class="infoButton_close" onclick='closeInfo("{{course.id}}")'>X</button><div class="destringify">{{course.description}}</div></div>
				</div>
			{% endfor %}
		</div>
	</div>

	<!-- <div class="box" id="rightbox">
		<h1>Check</h1>
		<div class="bigContainer">
			
		Checking requirements:

		{% for course in courses %}
			{% if course.teaching_language == 'Enska' %}
				<div class="destringify">{{course.calender_semester}}</div>
			{% endif%}
		{% endfor %}
		</div>
	</div> -->

	<div class="box" id="rightbox">
		<h1>Check</h1>
		<div class="bigContainer">
			
		Checking requirements
		<br>
		<br>{% for head_requirement,sub_requirements in head_requirements.items %} 
		<br>{{ head_requirement.title }}:
		<br>{% for sub_requirement,result in sub_requirements.items %}
		<br>{{ sub_requirement.label_id }}: {{ result }}{% endfor %} 
		{% endfor %}
		<br>
		<br>{% for requirement,result in other_requirements %}
		<br>{{ result }}
		{% endfor %}
		</div>
	</div>

	<button class="CHECK" id="form-function" onclick="form_function()">update</button>

	<form class="form" action="course-selection-with-form" method="post">
        {% csrf_token %}
        {{form}}
        semester-1 <input id="semester-1" type="text" name="Haustönn 1">
		semester-2 <input id="semester-2" type="text" name="Vorönn 1">
		semester-3 <input id="semester-3" type="text" name="Haustönn 2">
		semester-4 <input id="semester-4" type="text" name="Vorönn 2">
		semester-5 <input id="semester-5" type="text" name="Haustönn 3">
		semester-6 <input id="semester-6" type="text" name="Vorönn 3">
        <input class="CHECK" type="submit"  value="check">
	</form>
</body>
</html>