<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% load static %}
    <link rel="stylesheet"  href="{% static 'course-select.css' %}">
	<script src="{% static 'course-select.js' %}" defer></script>
	<title>course-selection</title>
</head>
<body>
	<div class="navbar"> 
		<a href=".." id="logout">LOG OUT</a>
		<a href="hmm">ABOUT US</a>
	</div>
	

	<div class="box" id="leftbox">  
	<h1>Calender</h1>
	<h3>1. year</h3>
	<div class="year-container">
		<div class="semester"></div>
		<div class="semester"></div>
	</div>
	<h3>2. year</h3>
	<div class="year-container">
		<div class="semester"></div>
		<div class="semester"></div>
	</div>
	<h3>3. year</h3>
	<div class="year-container">
		<div class="semester"></div>
		<div class="semester"></div>
	</div>

	</div>
	<div class="box" id="middlebox">
		<h1>Courses Available</h1>
		<div class="bigContainer"> 
			{% for i in courses %}
			<div class="course" draggable="true">{{ i.name }} - {{ i.ects }} ECTS </div>
			{% endfor %}
		</div>
	</div>
	<div class="box" id="rightbox">
		<h1>Check</h1>
		<div class="bigContainer">
			
		Checking requirements:
		{{big_req}}
		
		</div>
	</div>


</body>
</html>