body {
    background-color: rgb(79, 79, 93);
    padding-bottom: 50px;
}

.form-input {
    display: none;
}

#refresh {
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: -0.1%;
    top: -0.1%;
}

#clear {
    border-radius: 50%;
    position: absolute;
    float: right;
    right: 0.5%;
    margin: 0 0 0 100px;
}

#clear:hover {
    top: 10.2%;
}

#clear:active {
    border: 2px solid cyan;
}

#save-image {
    position: relative;
    width: 153%;
    height: 105%;
    left: -27.8%;
    top: -4.8%;
    border-radius: 4px;
    border: black solid 1px;
}

.CHECK#save-button {
    right: 87%;
}

#save-button:hover {
    width: 42px;
    height: 42px;
    right: 86.7%;
    top: 10%;
}

#save-button:active {
    border: rgb(0, 213, 0) solid 3px;
    width: 42px;
    height: 42px;
    right: 86.7%;
    top: 10%;
}

.CHECK#check-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    right: 75%;
    background-color: rgb(191, 29, 29);
    text-align: center;
    justify-content: center;
    border: solid black 2px;
    font-size: smaller;
}

#check-button:hover {
    width: 42px;
    height: 42px;
    right: 74.7%;
    top: 10%;
}

#check-button:active {
    width: 42px;
    height: 42px;
    right: 74.7%;
    top: 10%;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 233, 191);
}

.CHECK {
    position: absolute;
    width: 40px;
    height: 40px;
    font: bold large;
    border-radius: 5px;
    right: 470px;
    top: 10.5%;
    display: flex;
    float: right;
}

.infoPopup { 
    display: none;
    position: fixed;
    border: 3px solid black;
    z-index: 1; 
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    background-color: rgb(255, 251, 175);
    top: 30%;
}

.infoButton_open {
    height: auto;
    width: 10%;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
}

.infoButton_close {
    position: absolute;
    right: 0;
    border-radius: 4px;
}
.infoButton_close:hover {
   background-color: red;
}


.info:hover {
    background-color: rgb(143, 86, 86);
}

.course p {
    margin: 1%;
    width: 90%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    position: relative;
    width: auto;
    height: 50px;
    background-image: url('red_image.jpg');
    border: 0.5px rgb(255, 13, 0);
    border-style: ridge;
}

.navbar#bottom {
    position: absolute;
    width: 100%;
    left: 0; right: 0; bottom: 0;
    height: 50px;
}

.navbar a {
    display: inline-block;
    float: left;
    height: 50px;
    font-size: larger;
    font-weight: bold;
    border-right: 1px solid black;
    padding: 0 15px;
    margin: 0;
    line-height: 50px;
    color: black;
    text-decoration: wavy;
    border-radius: 8px;
}

.navbar a:hover {
    background-color: rgb(171, 3, 3);
    border-radius: 8px;
}

#logout {
    float: right;
    border-left: 1px solid black;
}

body,html {
    margin: 0;
    padding: 0;
}


.course {
    position: relative;
    display: flex;
    height: fit-content;
    width: auto;
    text-align: left;
    margin: 1%;
    border: black solid 1px;
    border-radius: 2px;
    cursor: move;
    background-image: linear-gradient(to right, rgb(223, 2, 2), rgb(190, 117, 0), rgb(215, 151, 54));
}

.coursebutton.dragging {
    opacity: 5;
}

h1 {
    text-align: center;
    margin-right: 10%;
}

h3 {
    text-align: left;
    margin: 0;
    margin-left: 10px;
    width: 93%;
    padding-bottom: 1px;
    border-bottom: 1px solid black;
}

h5  {
    justify-content: center;
    width: 85%;
    margin: 0 17% 0 18%;
    display: inline;
}
.box {
    position: relative;
    height: 800px;
}

#leftbox {
    float:left; 
    width:38%;
    min-width: 330px;
}
#middlebox{
    float:left; 
    width:33%;
    min-width: 280px;
   
}
#rightbox{
    float:right;
    width:29%;
    min-width: 280px;
}

.year-container {
    position: relative;
    display: flex;
    width: auto;
    height: 200px;
    border: 3px solid black;
    border-radius: 2px;
    top: 0;
    margin: 1% 1% 0% 10px;
}

.semester {
    display: absolute;
    display: inline;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.5px;
    border-radius: 2px;
    border: 1px solid rgb(168, 0, 0);
    overflow-y: scroll;
    background-color: rgb(255, 254, 235);
}

.bigContainer {
    position: relative;
    display: flex;
    width: auto;
    height: 80%;
    margin: 67.8px 1%;
    border: 3px solid black;
    border-radius: 2px;
    display: block;
    overflow-y: scroll;
    background-color: rgb(255, 254, 235);
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

  .head-title {
      text-align: center;
      justify-content: center;
      font-weight: bold;
      border-bottom: 1px solid black;
      width: 80%;
      margin: 3% 10% 0 10%;
  }

  .result {
      margin: 2%;
  }

  .float-right {
      float: right;
  }