.course {
    margin: 1%;
    height: fit-content;
    width: fit-content;
    text-align: left;
    border: black solid 1px;
    cursor: move;
}

.coursebutton.dragging {
    opacity: .5;
}

h1 {
    text-align: center;
    margin-right: 10%;
}

h3 {
    text-align: left;
    margin: 0;
    margin-left: 10px;
}
.box {
    position: relative;
    height: 800px;
}

#leftbox {
    float:left; 
    width:38%;
    min-width: 330px;
}
#middlebox{
    float:left; 
    width:33%;
    min-width: 280px;
   
}
#rightbox{
    float:right;
    width:29%;
    min-width: 280px;
}

.year-container {
    position: relative;
    display: flex;
    width: auto;
    height: 200px;
    border: 2px solid black;
    border-radius: 2px;
    top: 0;
    margin: 1% 1% 0% 10px;
}

.semester {
    display: absolute;
    display: inline;
    width: 100%;
    margin: 0.5px;
    border-radius: 2px;
    border: 1px solid red;
}

.bigContainer {
    position: relative;
    display: flex;
    width: auto;
    height: 77%;
    margin: 47px 1%;
    border: 2px solid black;
    border-radius: 2px;
}