.info {
    height: auto;
    width: 10%;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
}

.info:hover {
    background-color: rgb(143, 86, 86);
}

.course p {
    margin: 1%;
    width: 90%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.navbar {
    position: relative;
    width: auto;
    height: 60px;
    background-image: url('red_image.jpg');
    border: 1px rgb(255, 13, 0);
    border-style: ridge;
}

.navbar a {
    display: inline-block;
    height: 60px;
    font-size: larger;
    font-weight: bold;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 15px;
    right: 0;
    line-height: 55px;
    color: black;
    text-decoration: wavy;
}

.navbar a:hover {
    background-color: grey;
    border-radius: 8px;
}

body,html {
    margin: 0;
    padding: 0;
}


.course {
    position: relative;
    display: flex;
    height: fit-content;
    width: auto;
    text-align: left;
    margin: 1%;
    border: black solid 1px;
    border-radius: 2px;
    cursor: move;
    background-image: linear-gradient(to right, rgb(223, 2, 2), rgb(190, 117, 0), rgb(215, 151, 54));
}

.coursebutton.dragging {
    opacity: 5;
}

h1 {
    text-align: center;
    margin-right: 10%;
}

h3 {
    text-align: left;
    margin: 0;
    margin-left: 10px;
}
.box {
    position: relative;
    height: 800px;
}

#leftbox {
    float:left; 
    width:38%;
    min-width: 330px;
}
#middlebox{
    float:left; 
    width:33%;
    min-width: 280px;
   
}
#rightbox{
    float:right;
    width:29%;
    min-width: 280px;
}

.year-container {
    position: relative;
    display: flex;
    width: auto;
    height: 200px;
    border: 3px solid black;
    border-radius: 2px;
    top: 0;
    margin: 1% 1% 0% 10px;
}

.semester {
    display: absolute;
    display: inline;
    width: 100%;
    margin: 0.5px;
    border-radius: 2px;
    border: 1px solid rgb(168, 0, 0);
    overflow-y: scroll;
    background-color: rgb(255, 254, 235);
}

.bigContainer {
    position: relative;
    display: flex;
    width: auto;
    height: 77%;
    margin: 47px 1%;
    border: 3px solid black;
    border-radius: 2px;
    display: block;
    overflow-y: scroll;
    background-color: rgb(255, 254, 235);
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }